<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BurkoLogic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="C:\Users\user\Desktop\projekt2_sima\mainpage.css"
    />
    <link
      rel="stylesheet"
      href="C:\Users\user\Desktop\projekt2_sima\login.css"
    />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />
    <link
      href="./Signin Template for Bootstrap_files/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="./Signin Template for Bootstrap_files/signin.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <button
        class="navbar-toggler navbar-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
          <div class="navbar-nav ms-auto">
            <a class="menuk nav-link"> Főoldal </a>
            <div class="nav-item dropdown">
              <a
                class="nav-link menuk dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Termékek
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Csempék</a>
                <a class="dropdown-item" href="#">Parketták</a>
              </div>
            </div>
            <a class="menuk nav-link">Szakember kereső</a>
            <a class="menuk nav-link">Kosár</a>
            <a class="menuk nav-link">Profilom</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="login_bg wrapper">
      <div class="card text-center">
        <div class="card-header">
          <h4>Üdvözöljük a BurkoLogic oldalán!<br /></h4>
        </div>
        <div class="card-body">
          <h5>Jelentkezzen be!</h5>
          <form>
            <div>
              <h6>Login név:</h6>
              <input
                type="text"
                id="loginname"
                placeholder="loginnev"
                required
                name="loginname"
                class="form-control-sm"
              />
            </div>
            <div>
              <h6>Jelszó:</h6>
              <input
                type="password"
                id="password"
                placeholder="jelszo"
                required
                name="password"
                class="form-control-sm"
              />

              <br />
              <div class="forgotten">Elfelejtette a jelszavát?</div>
            </div>
            <div>
              <input
                type="submit"
                value="Bejelentkezés"
                class="btn btn-outline-light login"
              />
            </div>
          </form>
          <div class="card-footer">
            <div>
              <h6>Nincs még profilja?</h6>
            </div>
            <button
              type="button"
              class="btn btn-outline-light register text-center"
              data-toggle="modal"
              data-target="#registrationModal"
            >
              Regisztráció
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="registrationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="registrationModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registrationModalLabel">
              Regisztráció
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <label>Keresztnév</label>
                  <input
                    type="text"
                    class="form-control-sm"
                    required
                    placeholder="Peter"
                  />
                </div>
                <div class="col-sm-6">
                  <label>Vezetéknév</label>
                  <input
                    type="text"
                    class="form-control-sm"
                    required
                    placeholder="Pelda"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Login név</label>
                  <input
                    type="text"
                    class="form-control-sm"
                    required
                    placeholder="peldapeter"
                  />
                </div>
                <div class="col-sm-6">
                  <label>Jelszó</label>
                  <input
                    type="password"
                    class="form-control-sm"
                    required
                    placeholder="jelszo"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>Telefonszám</label>
                  <input
                    type="text"
                    class="form-control-sm"
                    placeholder="+36123456789"
                  />
                </div>
                <div class="col-sm-6">
                  <label>Email cím</label>
                  <input
                    type="email"
                    class="form-control-sm"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    required
                    placeholder="pelda@pelda.com"
                  />
                </div>
              </div>

              <div class="row">
                <label><h5>Szállítási adatok</h5></label>
                <div class="col-sm-6">
                  <label>Irányítószám</label>
                  <input type="text" class="form-control-sm" required />
                </div>
                <div class="col-sm-6">
                  <label>Település</label>
                  <input type="text" class="form-control-sm" required />
                </div>
              </div>

              <div class="row">
                <label>Cím</label>
                <input type="text" class="form-control-sm" required />
              </div>
              <div class="row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Számlázási adatok megegyeznek a szállítási adatokkal
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Magánszemély vagyok
                  </label>
                </div>
              </div>

              <div class="">
                <!--If a person this one shows up-->
                <div class="row person" hidden>
                  <div class="col-sm-6">
                    <label>Keresztnév</label>
                    <input
                      type="text"
                      class="form-control-sm"
                      required
                      placeholder="Peter"
                    />
                  </div>
                  <div class="col-sm-6">
                    <label>Vezetéknév</label>
                    <input
                      type="text"
                      class="form-control-sm"
                      required
                      placeholder="Pelda"
                    />
                  </div>
                </div>
                <!--If a company this one shows up-->
                <div class="row company">
                  <div class="col-sm-6">
                    <label>Cég név</label>
                    <input type="text" class="form-control-sm" required />
                  </div>
                  <div class="col-sm-6">
                    <label>Adószám</label>
                    <input type="text" class="form-control-sm" required />
                  </div>
                </div>
                <div class="row">
                  <label><h5>Számlázási cím</h5></label>
                  <div class="col-sm-6">
                    <label>Irányítószám</label>
                    <input type="text" class="form-control-sm" required />
                  </div>
                  <div class="col-sm-6">
                    <label>Település</label>
                    <input type="text" class="form-control-sm" required />
                  </div>
                </div>

                <div class="row">
                  <label>Cím</label>
                  <input type="text" class="form-control-sm" required />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Bezárás
            </button>
            <button type="button" class="btn btn-dark">Regisztráció</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
