.dolgozoi_login_bg {
  background-color: #636363;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.wrapper div {
  margin: 5px;
  text-align: center;
}
.card-body {
  padding: 5px !important;
}
.card {
  background-color: #e7ab3c !important;
  color: black;
}
.card-header,
.card-footer {
  background-color: #e7ab3c !important;
}
.dolgozoi_forgotten {
  font-size: small;
}
