.login_bg {
  background-color: #dfad51;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.wrapper div {
  margin: 5px;
  text-align: center;
}
.login, .register {
  margin-top: 10px;
}
.card-body {
  padding: 5px !important;
}

.card-body h5, h6 {
    color: white;
}

.card-body a {
    color: #e7ab3c;
}

.card-body a:hover{
    color: white;
}

.card {
  background-color: #252525 !important;
  color: white;
}

.card-header,
.card-footer {
  background-color: #252525 !important;
}

.card-header h4 {
    color: white;
}
.forgotten {
  font-size: small;
}
h6 {
  margin: 0;
  padding: 0;
}
h5 {
  padding-bottom: 10px;
}

.register {
  margin: 0;
  padding: 0;
}
