.bg {
  background-image: url("background2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: max-content;
}
.menuk {
  color: chocolate !important;
}
.menuk:hover {
  color: maroon !important;
  text-decoration: underline !important;
}
.flex-container {
  display: flex;
}
.flex-box {
  flex: 1;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
