.flex-container {
  display: flex;
}

.flex-box {
  flex: 1;
  height: 90vh;
}

.tile{
    background-image: url("../images/tile.jpg");

}

.floor{
    background-image: url("../images/floor.jpg");
}

