.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.4s;
}
#sidebar {
    min-width: 70px;
    max-width: 70px;
    background: #262933;
    color: #fff;
    transition: all 0.4s;
    height: 100vh;
}
#sidebar-open {
    min-width: 250px;
    max-width: 250px;
    background: #262933;
    color: #fff;
    transition: all 0.4s;
    height: 100vh;
}
#sidebar .sidebar-header {
    padding: 14px;
    background: #1b1d24;
    align-content: center;
}
#sidebar-open .sidebar-header-open {
    padding: 10px;
    background: #1b1d24;
    text-align: left;
}
#sidebar-open #content-open{
   height: 200px;
}
#sidebar .item {
    height: 40px;
    padding: 20px;
    align-content: center;
}
#sidebar-open #content-open .item-open {
    height: fit-content;
    padding: 14px;
    align-content: center;
    margin-bottom: 0px;
}
@media (max-width: 768px) {

    #sidebar.active {
        margin-left: 0;
    }
    #sidebar-closed.active {
        margin-left: 40px;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.checkbox {
   margin: 5px !important;
}
.filters {
    border: 1px solid white;
}
